{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .profile    {display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 30px;}

    .message    {margin-top:0px;}

    
    .attend-challenge   {width: 80%;
                        border: 2px solid rgb(0,0,0,0.3);
                        border-radius: 10px;
                        padding-right: 5%; padding-left: 5%;
                        padding-bottom: 5%;
                        }
    .attend-title   {margin-bottom: 0px;}

    .week   {display:flex;
            flex-direction:row;
            justify-content:space-around;
            margin-right:2%; margin-left:2%;}

    .week img  {width:40px; 
                height:40px; 
                object-fit:cover;
                border-radius:100px;}

    .day    {display:flex;
            flex-direction:column;
            align-items:center;
            margin-right:2%;}

    .all-badge  {border: solid 2px rgb(0,0,0,0.3);
                border-radius: 10px;
                width: 80%; height: 30%;
                padding:5%;
                margin-top: 20px; margin-bottom: 20px;}

    .all-badge a {text-decoration: none; 
                color: black;}

    .gauge {
        width: 100%;
        max-width: 750px;
    }

    .gauge-body {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #b4c0be;
        position: relative;
        overflow: hidden;
    }

    .gauge-fill {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 100%;
        background: rgb(98,118,222);
        transform-origin: center top;
        transform: rotate(0.25turn);
        transition: transform 0.2s ease-out;

    }

    .progress {border: solid 2px rgb(0,0,0,0.3);
                border-radius: 10px;
                width: 80%; height: 30%;
                padding:5%;
                margin-top: 20px; margin-bottom: 20px;}


    .progress img {width:80px; 
                height:80px; 
                object-fit:cover;
                border-radius:100px;}

    .submit-button  {text-decoration: none;
                    font-size: 15px;
                    color: white;
                    background-color: rgb(98,118,222);
                    border:none;
                    border-radius: 10px;
                    text-align: center;
                    width: 80px; height: 25px;}

    .one-course {display:flex; 
                flex-direction: row;
                justify-content: flex-start;}

    .course-progress    {width: 70%;
                        margin-left: 10%; }

    .explain    {display:flex; flex-direction: row;
                justify-content: space-between;}

</style>


<section class = "profile">
    {% if user.profile_photo %}
        <img src="{{ user.profile_photo.url}}" alt="profile" width="100px" height="100px" style="object-fit:cover;border-radius: 100px;">
    {% else %}
        <img src="{% static 'img/user.png' %}" alt="profile" width="100px" height="100px" style="object-fit:cover;border-radius: 100px;">
    {% endif %}

    <h2>{{ user.nickname }}</h2>
    <h3 class = "message">{{ user.profile_message }}</h3>


    <a href="{% url 'update_mypage' %}">프로필 변경</a>
    <br>
    
    <section class = "attend-challenge">
        <h3 class = "attend-title">이번주 출석 현황</h3>
        <div class = "week">
            <div class="day">
                <h3>월</h3>
                {% if mon == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
            <div class="day">
                <h3>화</h3>
                {% if tue == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
            <div class="day">
                <h3>수</h3>
                {% if wed == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
            <div class="day">
                <h3>목</h3>
                {% if thu == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
            <div class="day">
                <h3>금</h3>
                {% if fri == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
            <div class="day">
                <h3>토</h3>
                {% if sat == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
            <div class="day">
                <h3>일</h3>
                {% if sun == True %}
                    <img src="{% static 'img/check_yes.jpg' %}">
                {% else %}
                    <img src="{% static 'img/check_no.jpg' %}">
                {% endif %}
            </div>
        </div>
    </section>

    <article class = "all-badge">
        <a href = "{% url 'badge' %}"><h3>획득한 뱃지 보기</h3></a>

    </article>

   
    <section class="progress">
        <h3>코스 진행도</h3>
        
        <article class="one-course">
            <img src="{% static 'img/python.jpg' %}">
            <div class = "course-progress">   
                <div class = "explain">
                    <h3>Python</h3>
                    <h4>{{ python_per }}%</h4>
                </div>
                <div class="gauge">
                    <div class="gauge-body">
                        <div class="gauge-fill"></div>
                    </div>
                </div>
            </div> 
        </article>
        
        <script>
            const gaugeElement = document.querySelector(".gauge");
            function setGaugeValue(gauge, value) {
                if (value < 0 || value > 1) {
                    return;
                }
                gauge.querySelector(".gauge-fill").style.transform = `$value`;
            }
            setGaugeValue(gaugeElement, python_per);
        </script>
        
    </section>
    
    <br/>
    <a href="{% url 'logout' %}" class="submit-button">로그아웃</a>
    <br/>
</section>
{% endblock %}