{% extends 'base.html' %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <div>
            <input type="file" name="upload" accept=".jpg">
        </div>
        <div>
            <label for="name">이름</label><br/>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="nickname">닉네임</label><br/>
            <input type="text" name="nickname" id="nickname">
        </div>
        <div>
            <label for="profile_message">상태메시지: </label><br/>
            <input type="text" name="nickname" id="nickname">
        </div>
        <div>
            <label for="email">이메일</label><br/>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="phone_number">휴대폰 번호: </label><br/>
            <input type="text" name="phone_number" id="phone_number">
        </div>
        <div>
            <label for="password">비밀번호: </label><br/>
            <input type="text" name="password" id="password">
        </div>
        <input type="submit" value="정보 수정 완료하기" class="button">
    </div>
</form>
{% endblock %}