{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    #previewImage {width: 100px; }
</style>


<form action="{% url 'pychal1_edit' post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="new">
        <div class="new_content">
            <input type="text" name="title" id="title" value="{{ post.title }}">
        </div>

        <div class="imgbox" id="profile_img">
            <label className="input-file-button" for="input-file">
                {% if post.photo %}
                <img src="{{ post.photo.url }}" id="previewImage" >
                {% else %}
                <img src="{% static 'img/upload.png' %}" id="previewImage" >
                {% endif %}
            </label>
            <input type="file" class="file" id="input-file" name="blog_image" style="display:none" onchange="imageView(this);">
            <script type="text/javascript">
            function readImage(input) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    
                    reader.onload = (e) => {
                        const previewImage = document.getElementById('previewImage');
                        previewImage.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            document.getElementById('input-file').addEventListener('change', (e) => {
                readImage(e.target);
            })
            </script>
        </div>

        <div class="new_content">
            <textarea name="body" id="body" cols="30" rows="10">{{ post.body }}</textarea>
        </div>
        <div>
            <p>주제와 무관한 댓글은 삭제될 수 있어요.</p>
        </div>
        <button type="submit">글 올리기</button><br>
    </div>
</form>
{% endblock %}