{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    * {font-family: 'Spoqa Han Sans', 'Sans-serif';}

    .new    {height: 307.86px;
            display: flex;
            flex-direction: column;
            justify-content: center;}

    .new_title {width: 350px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                margin-left: 5%;
                padding-top: 1%; padding-bottom: 1%; padding-left: 3%;
                font-size: 15px;}

    .new_body   {width: 350px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                margin-left: 5%; margin-bottom: 0px;
                padding-top: 1%; padding-bottom: 1%; padding-left: 3%;}

    .form-down {display: flex;
                flex-direction: row;
                align-items: center;
                width: 368.35px;
                margin-left: 5%; margin-top: 0px;}

    .form-down1 {width: 318.35px; height: 35px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                text-align: center;}

    .form-down p    {font-size: 12px; font-weight: 400;
                    color:rgba(0, 0, 0, 0.6);
                    margin-left: 3%; margin-top: 7px;}

    .form-down2 {width: 50px; height: 35px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                text-align: center;
                vertical-align: middle;}

    .form-down2 img {margin-top: 4px;}

    button {font-size: 20px;
            color: white;
            background-color: #666EE8;
            border-radius: 4px;
            text-align: center;
            width: 360px;
            margin-top: 10%; margin-left: 5%;
            padding: 2% 30%;}
</style>




<form action="{% url 'pychal1_new' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="new">
        <input type="text" name="title" id="title" class="new_title" placeholder="제목">
        <textarea name="body" id="body" cols="30" rows="10" class="new_body" placeholder="내용을 입력하세요"></textarea>
        <section class="form-down">
            <article class="form-down1">
                <p>주제와 무관한 댓글은 삭제될 수 있어요.</p>
            </article>
            <article class="form-down2">
                <label className="input-file-button" for="input-file">
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}" id="previewImage" alt="no image" width="25">
                    {% else %}
                    <img src="{% static 'img/image2.png' %}" id="previewImage" alt="no image" width="25">
                    {% endif %}
                </label>
                <input type="file" name="blog_image" id="input-file" style="display:none" onchange="imageView(this);">
                <script type="text/javascript">
                    function readImage(input) {
                        if (input.files && input.files[0]) {
                            const reader = new FileReader();
                            
                            reader.onload = (e) => {
                                const previewImage = document.getElementById('previewImage');
                                previewImage.src = e.target.result;
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                    document.getElementById('input-file').addEventListener('change', (e) => {
                        readImage(e.target);
                    })
                </script>
            </article>
        </section>
    </div>
    <button type="submit">글 올리기</button><br>
</form>
{% endblock %}