{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    * {font-family: 'Spoqa Han Sans', 'Sans-serif';}

    .post_title {margin-left: 7%; margin-bottom: 0%;
                font-size: 20px; font-weight: 700;}

    .post_info, .comment_info  {display: flex;
                flex-direction: row;
                align-items: center;}

    .post_writer, .comment_writer    {margin-left: 8%; margin-right: 6%;
                    font-size: 16px; font-weight: 400;}

    .post_body, .comment_body {margin-left: 8%; margin-top: 0%; margin-right: 8%;
                font-size: 15px; font-weight: 400;
                color: rgba(0, 0, 0, 0.5);}

    .detail_blog img, .comment img {margin-left: 8%;}

    .comment-topic {display: flex;
                    flex-direction: row;
                    align-items: center;}

    .comment-topic h1   {font-size: 20px; font-weight: 700;
                        margin-left: 7%; margin-right: 3%;}

    .comment-topic p    {font-size: 20px; font-weight: 700;}

    form    {width: 340px;
            height: 153.24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;}

    textarea    {height: 100px;
                margin-bottom: 0px;
                padding-top: 2%; padding-left: 20px; padding-right: 0px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                }

    .form-down {display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0px;}

    .form-down1 { width: 230px;
                height: 35px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                border-top: none;
                text-align: center;}

    .form-down p    {font-size: 12px; font-weight: 400;
                    color:rgba(0, 0, 0, 0.6);
                    margin-left: 3%; margin-top: 7px;}

    .form-down2 { width: 55px;
                height: 35px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                text-align: center;
                vertical-align: middle;}

    .form-down2 img {margin-top: 4px;}

    .button {width: 55px;
            height: 39px;
            color: white;
            background-color: grey;
            text-align: center;
            vertical-align: middle;
            border:none;}

    .back   {display: block;
            text-decoration: none;
            text-align: center;
            width: 150px;
            margin: auto;
            background-color: #666EE8;
            color: white;
            padding: 8px 10px;
            border-radius: 4px;
            margin-top: 50px;
            }
        

    .edit-box   {display: flex;
                flex-direction: row;
                justify-content: center;}

    .edit-box   a   {display: block;
                    text-decoration: none;
                    border-radius: 4px;
                    margin-right: 10px;
                    color:white;
                    padding: 5px 8px;
                    }
    .update     {background-color: #666EE8;}
    .delete     {background-color: #ee6b6e;}
</style>


<div class="detail_box">
    <div class="detail_box1">
        <div class="detail_blog">
            <h1 class="post_title">{{ blog_detail.title }}</h1>
            <section class="post_info">
                <p class="post_writer">{{ blog_detail.author.nickname }}</p>
                <p class="post_date">{{ blog_detail.date | date:"m.d" }}</p>
            </section>
            {% if blog_detail.photo %}
            <img src="{{ blog_detail.photo.url }}" alt="no image" width="300">
            {% endif %}
            <p class="post_body">{{ blog_detail.body }}</p>
        </div>
        <div class="edit-box">
            {% if user.is_authenticated and user.username == blog_detail.author.username %}
                <a href="{% url 'pychal1_edit' blog_detail.id %}" class="update">수정하기</a>
                <a href="{% url 'pychal1_del' blog_detail.id %}" class="delete">삭제하기</a>
            {% endif %}
        </div>
    </div>

    <div class="comment-topic">
        <h1>댓글</h1>
    </div>
    
    <form action="{% url 'pychal1_comment' blog_detail.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="content" id="content" cols="30" rows="5" placeholder="댓글을 입력하세요."></textarea>
        <section class="form-down">
            <article class="form-down1">
                <p>주제와 무관한 댓글은 삭제될 수 있어요.</p>
            </article>
            <article class="form-down2">
                <label className="input-file-button" for="input-file">
                    <img src="{% static 'img/image2.png' %}" alt="no image" width="25">
                </label>
                <input type="file" name="comment_image" id="input-file" style="display:none" onchange="imageView(this);">
                <script type="text/javascript">
                    document.getElementById('input-file').addEventListener('change', (e) => {
                        readImage(e.target);
                    })
                </script>
            </article>
            <input type="submit" value="등록" class="button">
        </section>
    </form>
    {% for comment in blog_detail.pychal1_comment_set.all %}
        <div class="comment">
            <section class="comment_info">
                <p class="comment_writer">{{ comment.author.nickname }}</p>
                <p class="comment_date">{{ comment.date | date:"m.d" }}</p>
            </section>
            {% if comment.photo %}
                <img src="{{ comment.photo.url }}" alt="no image" width="300">
            {% endif %}
            <p class="comment_body">{{ comment }}</p></a>
            <section class="edit-box">
                {% if user.username == comment.author.username %}
                    <a href="{% url 'pychal1_del_comment' comment.id %}">삭제하기</a>
                {% endif %}
            </section>
        </div>
    {% endfor %}
    <a href="{% url 'python1_challenge' %}" class = "back">목록으로 돌아가기</a><br>
</div>
    
{% endblock %}