{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .week   {display:flex;
            flex-direction:row;
            justify-content:space-around;
            margin-right:2%; margin-left:2%;}

    .week img  {width:40px; 
                height:40px; 
                object-fit:cover;
                border-radius:100px;}

    .day    {display:flex;
            flex-direction:column;
            align-items:center;
            margin-right:2%;}
</style>


<h2>매일 파이썬 학습하기 </h2>
<p>기간: </p>

<div class = "week">
    <!-- {% for key, value in days.items %}
    <div class="day">
        <h3>{{ key.month }}/{{ key.day }}</h3>
        {% if value == 'attend' %}
            <img src="{% static 'img/check_yes.jpg' %}">
        {% elif value == 'no_check' %}
            <img src="{% static 'img/check_off.jpg' %}">
        {% else %}
            <img src="{% static 'img/check_no.jpg' %}">
        {% endif %}
    </div>
    {% endfor %} -->
</div>

{% endblock %}