{% extends 'base.html' %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"></head>
</head>

<body>

{% if user.is_authenticated %}
<section class = "attend-challenge login">
    <h3 class = "attend-title">이번주 출석 현황</h3>
    <div class = "week">
        {% for key,value in weekdays.items %}
        <div class="day">
            <p>{{ key }}</p>
            {% if value == 'attend' %}
                <img src="{% static 'img/correct.png' %}">
            {% elif value == 'no_check' %}
                <img src="{% static 'img/check_off.jpg' %}">
            {% else %}
                <img src="{% static 'img/대시보드_미출석.png' %}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    <hr>

    <a href = "{% url 'my_challenge' %}"><div class = "my-challenge">
        <h3>참가 중인 챌린지 {{ challenge }} 개</h3>
        <img class = "challenge-button" src="{% static 'img/move3.png' %}" alt="화살표">
    </div></a>
</section>

{% else %}
<section class = "attend-challenge logout">
    <h3 class = "attend-title">이번주 출석 현황</h3>
    <div class="week">
        <a href="{% url 'login' %}" class="need-login">로그인이 필요합니다</a>
    </div>
    
    <div class = "my-challenge">
        <h3>참가 중인 챌린지 &nbsp; 0개</h3>
    </div>
</section>
{% endif %}


<a href="{% url 'learning' %}"><section class = "learning">
    <div> 
        <h2>데일리 코딩</h2>
        <p>매일매일 꾸준히 하는 코딩학습</p>
    </div>   
    <img class = "learning-button" src="{% static 'img/이동.png' %}" alt="화살표">
</section></a>

<section class="challenge">
    <h2>챌린지</h2>
    <p class="challenge-explain">동일한 학습목표를 갖고 있는 사람들과 함께 공부해요!</p>
    
    <div class = "one-category">
        
            <a href="{% url 'python1_explain' %}"><article class = "one-challenge"> 
                <img src="{% static 'img/python1_challenge.png' %}" class="challenge-img" alt="파이썬 챌린지1">
                <p class="challenge-title">매일 파이썬 학습하기</p>
                <div class="tag-list">
                    <p class = "tag">매일</p>
                    <p class = "tag">일주일간</p>
                </div>
            </article></a>

            <article class = "one-challenge no-challenge"> 
                <img src="{% static 'img/comingsoon.png' %}" class="challenge-img coming-soon" alt="coming soon">
                
            </article>
        
    </div>

</section>

<footer>
    <p>서비스 소개: <a href="https://co-der.notion.site/">co-der.notion.site</a></p>
    <p>문의 :  카카오톡 채널 @coder</p>
</footer>

</body>


{% endblock %}
