/* @font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff'),
    url('../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype');
} */
/* @import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; } */
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

html, body, .question, .question3-1, .explanation {
    height: 100%;
}
* {
font-size: 18px;
}

article {
    display: flex;
    flex-direction: column;
}
/* .explanation{
    display: none;
} */
.explain {
    background-color: #343E56;
}

.explain_text {
    color: aliceblue;
}

.question{
    display: none;
}
/* .question_header {
    top: 0;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #666EE8;
}
.back_button_div{
    height: 100%;
} */
/* 
.head_text {
 font-size: 22px;
 color: aliceblue;
 height: 90%;
} */

.header {
display: flex;
align-items: center;
justify-content: center;
top: 0;
height: 7vh;
background-color: #666EE8
}

.start-header {
flex: 1;
display: flex;
justify-content: center;
align-items: center;

}
.back_button {
    top: 0;
    cursor: pointer;
    border-width: 0;
    left: 0;
    height: 4vh;
}

.main-text-container {
    font-size: 22px;
    color: aliceblue;   
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-header {
flex: 1;
}


/* 프로그레스 */
.progress {
    border-radius: 0;
    background-color: #FFFFFF;
}
/* 질문 */
.quiz {
    background-color: #343E56;
    min-height: 20%;
}
.border_text {
    font-weight: bolder;
}
.highlight_text {
    background-color: white;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.quiz_text {
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
}

#multiple {
    display: none;
    height: 50vh;
}

.file_name {
    background-color: #666EE8;
    font-size: smaller;
}
.btn:focus{
    outline: none;
    border: none;
}
.choice_btn {
    width: 100%;
    border: 1.5px solid rgb(170, 170, 170);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

#typing {
    height: 50vh;
    display: none;
}




.underline {
    background-color: #F2F2F2;
    /* width: 10%; */
    border-style:none;
    border-bottom:solid 1px black;
    border-collapse:collapse; 
}

.text-blue {color: rgb(60, 95, 212)};


#next{
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    width: 90%;
    margin-left: 5%;
}
.first_next_btn {
    width: 100%;
    background-color: #666EE8;
    border: 1.5px solid rgb(170, 170, 170);
    font-size: 17px;
}

#correct, #not_correct {
    display: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    width: 90%;
    margin-left: 5%;
}
.result_text {
    color: #666EE8;
    font-size: larger;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_btn, .correct_btn {
    width: 90%;
    margin-left: 5%;
    background-color: #666EE8;
    border: 1.5px solid rgb(170, 170, 170);
    font-size: 17px;
}
.correct_btn {
    width: 100%;
    margin-left: 0;
}
.btn-primary{
    font-size: 20px;
}

#block {
    height: 50vh;
}
.block_btn {
    font-size: 22px; 
    padding-top: 0; 
    padding-bottom: 0; 
    padding-left: 15px; 
    padding-right: 15px; 
    font-weight: 400;
}

.code_background {
    background-color: #F2F2F2;
    min-height: 20%;
}
#output {
    height: 20%;
    display: none;
}
.output-title {
 color: gray;
 font-weight: 400;   
}

.line {
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
}

.block_btn {
    color: white;
    margin: 0px 2px 0px;
    max-height: fit-content;
    border: 1.5px solid rgb(170, 170, 170);
    border-radius: 8px;
    background-color: #666EE8;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
} 
.block_btn:focus {
    outline: none;
    border: none;
}
.block_btn:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px; 
}
.block_delete {
    width: 35px;
}
.block_delete:active {
    position: relative;
    top:2px;
}

.flex-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flex-center {
    width: 100%;
    display: flex;
    flex-direction: center;
}

.skip_btn, .retry_btn {
    width: 40%;
    border: 1.5px solid rgb(170, 170, 170)
}



.skip_btn{
    background-color: #A6A6A6;
}
.retry_btn{
    background-color: #666EE8;
}
.bogi {
    line-height: 150%;
    size: 22px;
}
.bogi2 {
    line-height: 150%;
    size: 22px;
}
.bogi3{
    line-height: 150%;
    size: 22px;
}
.bogi4{
    line-height: 150%;
    size: 22px;
}
.bogi5{
    line-height: 175%;
    size: 22px;
}

/* complete */

.complete {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .completeImg {
    margin-top: 30px;
    display: flex;
    width: 100%;
  }
  .subInfo {
    color: black;
    font-weight: 600;
    font-size: 15px;
  }

  .button_text {
    color: #F2F2F2;
  }
  .complete_button {
    text-decoration-line: none;
    background-color: #12338f;
    width: 60%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    border-radius: 8px;
    /* margin-top: 3px;
    border-radius: 8px;
    color: white;
    font-size: 16px; */
  }
  .complete_button:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px; 
}

/* Project형 explain 구현 */
.small_project {
    height: 40%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_button1 {
    cursor: pointer;
    background-color: #666EE8;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0;
    left: 0;
    font-size: 20px;
    color: #F2F2F2;
}

.project_button2 {
    display: none;    
    cursor: pointer;
    background-color: #666EE8;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0;
    left: 0;
    font-size: 18px;
    color: #F2F2F2;
}
.block_btn:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px; 
}