{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    * {font-family: 'Spoqa Han Sans', 'Sans-serif';}

    .step-topic {margin: 30px 25px 70px 25px;
                line-height: 25px;}

    h1  {font-size: 22px;}

    p {font-size: 18px;}

    .step-list  {display:flex;
                flex-direction: column;}

    .one-step   {display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 350px; height: 50px;
                color: black;
                margin: 0px 20px;}

    .step   {display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;}

    .step-explain   {margin-left: 25px;
                    font-size:20px;}

    .one-step img   {width: 35px; height: 35px;
                    object-fit:cover;
                    border-radius:100px;}

    .move img {width: 12px; height: 25px;}

    hr  {width: 94%;
        background-color: rgba(0, 0, 0, 0.05);
        height: 5%;}

    a   {text-decoration: none;}

</style>


<section class="step-topic">
    <h1>조건문(1)</h1>
    <p>조건문을 작성하여 <br/> 의사결정하는 프로그램 제작하기</p>
</section>
<section class="step-list">
    <a href="{% url 'python3_1' %}">
        <article class = "one-step">
            <article class="step">
                <article class="step-check">
                    {% if user.python3_1 == True %}
                        <img src="{% static 'img/correct.png' %}" alt="no image">
                    {% else %}
                        <img src="{% static 'img/코스선택_체크x.png' %}" alt="no image">
                    {% endif %}
                </article>
                <article class="step-explain">
                    <h3>Step 1</h3>
                </article>
            </article>
            <article class="move">
                <img src="{% static 'img/move3.png' %}" alt="move">
            </article>
        </article>
    </a>
    <hr>
    <a href="{% url 'python3_2' %}">
        <article class = "one-step">
            <article class="step">
                <article class="step-check">
                    {% if user.python3_2 == True %}
                        <img src="{% static 'img/correct.png' %}" alt="no image">
                    {% else %}
                        <img src="{% static 'img/코스선택_체크x.png' %}" alt="no image">
                    {% endif %}
                </article>
                <article class="step-explain">
                    <h3>Step 2</h3>
                </article>
            </article>
            <article class="move">
                <img src="{% static 'img/move3.png' %}" alt="move">
            </article>
        </article>
    </a>
    <hr>
    <a href="{% url 'python3_3' %}">
        <article class = "one-step">
            <article class="step">
                <article class="step-check">
                    {% if user.python3_3 == True %}
                        <img src="{% static 'img/correct.png' %}" alt="no image">
                    {% else %}
                        <img src="{% static 'img/코스선택_체크x.png' %}" alt="no image">
                    {% endif %}
                </article>
                <article class="step-explain">
                    <h3>Step 3</h3>
                </article>
            </article>
            <article class="move">
                <img src="{% static 'img/move3.png' %}" alt="move">
            </article>
        </article>
    </a>
    <hr>

</section>

{% endblock %}