{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .big-box {margin: 0px 15px 15px 15px;}

    h1 {color: rgba(0, 0, 0, 0.2);
        font-size: 15px;}

    section {display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;}

    article {display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;}

    h2 {color: rgba(0, 0, 0, 0.2);
        font-size: 15px;}


</style>



<div class="big-box">
    <h1>프로그래밍 언어</h1>
    <section>
        <a href="{% url 'learning_python' %}"><article>
            <img src="{% static 'img/Python.jpg' %}" alt="python" width="70px" height="70px">
            <h2>Python</h2>
        </article></a>
        <a href=""><article>
            <img src="{% static 'img/HTML.jpg' %}" alt="html" width="70px" height="70px">
            <h2>HTML</h2>
        </article></a>
        <a href=""><diarticlev>
            <img src="{% static 'img/CSS.jpg' %}" alt="css" width="70px" height="70px">
            <h2>CSS</h2>
        </article></a>
        <a href=""><article>
            <img src="{% static 'img/Java.jpg' %}" alt="java" width="70px" height="70px">
            <h2>Java</h2>
        </article></a>
    </section>
</div>
{% endblock %}