{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .big-box {margin: 0px 15px 15px 15px;}

    .big-box h1 {color: rgba(0, 0, 0, 0.5);
                font-size:20px;}

    section {display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;}
    
    .big-box a   {text-decoration: none;}

    article {display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;}

    h2 {color: rgba(0, 0, 0, 0.5);
        font-size: 15px;}

    .big-box img    {width:70px; 
                    height:70px; 
                    object-fit:cover;
                    border-radius:100px;}



</style>



<div class="big-box">
    <h1>프로그래밍 언어</h1>
    <section>
        <a href="{% url 'learning_python' %}">
            <article>
                <img src="{% static 'img/Python.jpg' %}" alt="python">
                <h2>Python</h2>
            </article></a>
        <a href="">
            <article>
                <img src="{% static 'img/HTML.jpg' %}" alt="html">
                <h2>HTML</h2>
            </article></a>
        <a href="">
            <article>
            <img src="{% static 'img/CSS.jpg' %}" alt="css">
            <h2>CSS</h2>
            </article></a>
        <a href=""><article>
            <img src="{% static 'img/Java.jpg' %}" alt="java">
            <h2>Java</h2>
            </article></a>
    </section>
</div>
{% endblock %}