{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1>프로그래밍 언어</h1>
</div>
<div>
    <a href="{% url 'learning_python' %}"><div>
        <img src="{% static 'img/python.jpg' %}" alt="no image">
        <h2>python</h2>
    </div></a>
    <a href=""><div>
        <img src="{% static 'img/HTML.jpg' %}" alt="no image">
        <h2>HTML</h2>
    </div></a>
    <a href=""><div>
        <img src="{% static 'img/CSS.jpg' %}" alt="no image">
        <h2>CSS</h2>
    </div></a>
    <a href=""><div>
        <img src="{% static 'img/Java.jpg' %}" alt="no image">
        <h2>Java</h2>
    </div></a>
</div>
{% endblock %}