{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
        <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
</head>

<body>

<secton class="form-section">
<h1>로그인</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" required placeholder="아이디" id = "id-input"><br>
    <input type="password" name="password" required placeholder="비밀번호">
    <input type="submit" value="로그인" class = "submit-button login-button">
</form>
<p>아이디와 비밀번호가 일치하지 않습니다.</p>

<p>코더 계정이 없으신가요? <a href="{% url 'signup' %}">회원가입</a></p> <br/>
</secton>


<br/>

</body>
{% endblock %} 
