{% extends 'base.html' %} 
{% block content %}
{% load static %}
<head>
        <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
</head>

<style>
        .policy {margin-top: 0px;}
</style>

<body>

<section class="form-section">
<h1>회원가입</h1>
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="아이디" required><br/>
    <input type="text" name="name" placeholder="이름" required><br/>
    <input type="text" name="nickname" placeholder="닉네임" required><br/>
    <input type="text" name="phone_number" placeholder="휴대폰번호" required pattern="[0-9]{3}[0-9]{7,8}"><br/>
    <input type="text" name="email" placeholder="이메일" required><br/>
    <hr> <!--hr이 안먹는다-->
    <input type="password" name="password" placeholder="비밀번호" required><br/>
    <input type="password" name="repeat" placeholder="비밀번호 확인" required><br/>    
    <input type="submit" value="회원가입" class = "submit-button">
</form>
{% if same_id %}
<p>이미 있는 아이디입니다. 다른 아이디를 입력해주세요</p>
{% else %}
<p>비밀번호가 일치하지 않습니다. 다시 입력해주세요.</p>
{% endif %}
<p class="policy">CO:DER의 <a href="{% url 'account_policy' %}">개인정보 처리방침</a>에 동의합니다.</p>
</section>

<br>

</body>
{% endblock %} 